@import "https://www.nerdfonts.com/assets/css/webfont.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Nord Light Theme */
		--background: 220 16% 96%; /* nord6 */
		--foreground: 220 16% 22%; /* nord1 */
		--muted: 218 27% 94%; /* nord5 */
		--muted-foreground: 220 16% 36%; /* nord3 */
		--popover: 218 27% 94%; /* nord5 */
		--popover-foreground: 220 16% 22%; /* nord1 */
		--card: 218 27% 94%; /* nord5 */
		--card-foreground: 220 16% 22%; /* nord1 */
		--border: 354 42% 56%; /* nord11 */
		--input: 218 27% 94%; /* nord5 */

		/* Primary: Green (Nord 14) */
		--primary: 92 28% 65%; /* nord14 */
		--primary-foreground: 220 16% 22%; /* nord1 */

		/* Secondary: Red (Nord 11) */
		--secondary: 354 42% 56%; /* nord11 */
		--secondary-foreground: 218 27% 94%; /* nord6 */

		--accent: 354 42% 56%; /* nord11 */
		--accent-foreground: 218 27% 94%; /* nord6 */
		--destructive: 354 42% 56%; /* nord11 */
		--destructive-foreground: 218 27% 94%; /* nord6 */
		--ring: 92 28% 65%; /* nord14 */

		/* Sidebar Adjustments */
		--sidebar-background: 218 27% 94%; /* nord5 */
		--sidebar-foreground: 220 16% 36%; /* nord3 */
		--sidebar-primary: 92 28% 65%; /* nord14 */
		--sidebar-primary-foreground: 220 16% 22%; /* nord1 */
		--sidebar-accent: 354 42% 56%; /* nord11 */
		--sidebar-accent-foreground: 218 27% 94%; /* nord6 */
		--sidebar-border: 354 42% 56%; /* nord11 */
		--sidebar-ring: 92 28% 65%; /* nord14 */

		--radius: 1.5rem;
	}

	.dark {
		/* Nord Dark Theme */
		--background: 220 16% 22%; /* nord0 */
		--foreground: 218 27% 94%; /* nord6 */
		--muted: 222 16% 28%; /* nord1 */
		--muted-foreground: 218 27% 80%; /* nord4 */
		--popover: 224 16% 32%; /* nord2 */
		--popover-foreground: 218 27% 94%; /* nord6 */
		--card: 224 16% 32%; /* nord3 */
		--card-foreground: 218 27% 94%; /* nord6 */
		--border: 354 42% 56%; /* nord3 */
		--input: 222 16% 28%; /* nord1 */

		/* Primary: Green (Nord 14) */
		--primary: 92 28% 65%; /* nord14 */
		--primary-foreground: 220 16% 22%; /* nord1 */

		/* Secondary: Red (Nord 11) */
		--secondary: 354 42% 56%; /* nord11 */
		--secondary-foreground: 218 27% 94%; /* nord6 */

		--accent: 354 42% 56%; /* nord11 */
		--accent-foreground: 218 27% 94%; /* nord6 */
		--destructive: 354 42% 56%; /* nord11 */
		--destructive-foreground: 218 27% 94%; /* nord6 */
		--ring: 92 28% 65%; /* nord14 */

		/* Sidebar Adjustments */
		--sidebar-background: 222 16% 28%; /* nord1 */
		--sidebar-foreground: 218 27% 80%; /* nord4 */
		--sidebar-primary: 92 28% 65%; /* nord14 */
		--sidebar-primary-foreground: 218 27% 94%; /* nord6 */
		--sidebar-accent: 354 42% 56%; /* nord11 */
		--sidebar-accent-foreground: 218 27% 94%; /* nord6 */
		--sidebar-border: 354 42% 56%; /* nord3 */
		--sidebar-ring: 92 28% 65%; /* nord14 */

		--radius: 1.5rem;
	}
}

/*-- Fonts --*/

/* CaskaydiaCove Nerd Font Propo */
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-Bold.ttf")
		format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-Italic.ttf")
		format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-BoldItalic.ttf")
		format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-Light.ttf")
		format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-LightItalic.ttf")
		format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-ExtraLight.ttf")
		format("truetype");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-ExtraLightItalic.ttf")
		format("truetype");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-SemiBold.ttf")
		format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-SemiBoldItalic.ttf")
		format("truetype");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-SemiLight.ttf")
		format("truetype");
	font-weight: 350;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-SemiLightItalic.ttf")
		format("truetype");
	font-weight: 350;
	font-style: italic;
}

@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-ExtraLight.ttf")
		format("truetype");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-ExtraLightItalic.ttf")
		format("truetype");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-SemiLight.ttf")
		format("truetype");
	font-weight: 350;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Propo";
	src: url("/public/fonts/CaskaydiaCoveNerdFontPropo-SemiLightItalic.ttf")
		format("truetype");
	font-weight: 350;
	font-style: italic;
}

/* CaskaydiaCove Nerd Font */
@font-face {
	font-family: "CaskaydiaCove Nerd Font";
	src: url("/public/fonts/CaskaydiaCoveNerdFont-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font";
	src: url("/public/fonts/CaskaydiaCoveNerdFont-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font";
	src: url("/public/fonts/CaskaydiaCoveNerdFont-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font";
	src: url("/public/fonts/CaskaydiaCoveNerdFont-BoldItalic.ttf")
		format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font";
	src: url("/public/fonts/CaskaydiaCoveNerdFont-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font";
	src: url("/public/fonts/CaskaydiaCoveNerdFont-LightItalic.ttf")
		format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font";
	src: url("/public/fonts/CaskaydiaCoveNerdFont-ExtraLight.ttf")
		format("truetype");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font";
	src: url("/public/fonts/CaskaydiaCoveNerdFont-ExtraLightItalic.ttf")
		format("truetype");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font";
	src: url("/public/fonts/CaskaydiaCoveNerdFont-SemiBold.ttf")
		format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font";
	src: url("/public/fonts/CaskaydiaCoveNerdFont-SemiBoldItalic.ttf")
		format("truetype");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font";
	src: url("/public/fonts/CaskaydiaCoveNerdFont-SemiLight.ttf")
		format("truetype");
	font-weight: 350;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font";
	src: url("/public/fonts/CaskaydiaCoveNerdFont-SemiLightItalic.ttf")
		format("truetype");
	font-weight: 350;
	font-style: italic;
}

/* CaskaydiaCove Nerd Font Mono */
@font-face {
	font-family: "CaskaydiaCove Nerd Font Mono";
	src: url("/public/fonts/CaskaydiaCoveNerdFontMono-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Mono";
	src: url("/public/fonts/CaskaydiaCoveNerdFontMono-Bold.ttf")
		format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Mono";
	src: url("/public/fonts/CaskaydiaCoveNerdFontMono-Italic.ttf")
		format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Mono";
	src: url("/public/fonts/CaskaydiaCoveNerdFontMono-BoldItalic.ttf")
		format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Mono";
	src: url("/public/fonts/CaskaydiaCoveNerdFontMono-Light.ttf")
		format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Mono";
	src: url("/public/fonts/CaskaydiaCoveNerdFontMono-LightItalic.ttf")
		format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Mono";
	src: url("/public/fonts/CaskaydiaCoveNerdFontMono-SemiBold.ttf")
		format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Mono";
	src: url("/public/fonts/CaskaydiaCoveNerdFontMono-SemiBoldItalic.ttf")
		format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "CaskaydiaCove Nerd Font Mono";
	src: url("/public/fonts/CaskaydiaCoveNerdFontMono-ExtraLight.ttf")
		format("truetype");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Mono";
	src: url("/public/fonts/CaskaydiaCoveNerdFontMono-ExtraLightItalic.ttf")
		format("truetype");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Mono";
	src: url("/public/fonts/CaskaydiaCoveNerdFontMono-SemiLight.ttf")
		format("truetype");
	font-weight: 350;
	font-style: normal;
}
@font-face {
	font-family: "CaskaydiaCove Nerd Font Mono";
	src: url("/public/fonts/CaskaydiaCoveNerdFontMono-SemiLightItalic.ttf")
		format("truetype");
	font-weight: 350;
	font-style: italic;
}


/*-- Name styles --*/

@layer base {
	* {
		scroll-behavior: smooth;
		@apply font-sans;
		@apply border-border;
	}
	body {
		@apply overflow-x-hidden;
		@apply overscroll-contain;
		@apply h-full;
		@apply w-full;
		@apply bg-background text-foreground;
	}
}

@media print {
	:root {
		/* Light Theme */
		--background: 0 0% 100% 0; /* Vollständig transparent */
		--foreground: 220 16% 22%; /* nord1 - Dunkler Vordergrund */
		--muted: 0 0% 100% 0; /* Vollständig transparent */
		--muted-foreground: 220 16% 22%; /* nord1 - Dunkler Vordergrund */
		--popover: 222 16% 28%; /* nord2 */
		--popover-foreground: 220 16% 22%; /* nord1 - Dunkler Vordergrund */
		--card: 0 0% 100% 0; /* Vollständig transparent */
		--card-foreground: 220 16% 22%; /* nord1 - Dunkler Vordergrund */
		--border: 354 42% 56%; /* nord11 */
		--input: 220 16% 22%; /* nord1 */

		/* Primärfarbe: Nord Light Grün (Nord 14) */
		--primary: 92 28% 65%; /* nord14 */
		--primary-foreground: 220 16% 22%; /* nord1 */

		/* Sekundärfarbe: Rot (Nord 11) */
		--secondary: 354 42% 56%; /* nord11 */
		--secondary-foreground: 218 27% 94%; /* nord6 */

		--accent: 210 34% 63%; /* nord9 */
		--accent-foreground: 218 27% 94%; /* nord6 */
		--destructive: 354 42% 56%; /* nord11 */
		--destructive-foreground: 218 27% 94%; /* nord6 */
		--ring: 92 28% 65%; /* nord14 */

		/* Sidebar-Anpassungen */
		--sidebar-background: 220 16% 22%; /* nord1 */
		--sidebar-foreground: 218 27% 80%; /* nord4 */
		--sidebar-primary: 92 28% 65%; /* nord14 */
		--sidebar-primary-foreground: 218 27% 94%; /* nord6 */
		--sidebar-accent: 210 34% 63%; /* nord9 */
		--sidebar-accent-foreground: 218 27% 94%; /* nord6 */
		--sidebar-border: 224 16% 32%; /* nord3 */
		--sidebar-ring: 92 28% 65%; /* nord14 */
	}

	.dark {
		/* Dark Theme */
		--background: 0 0% 100% 0; /* Vollständig transparent */
		--foreground: 220 16% 22%; /* nord1 - Dunkler Vordergrund */
		--muted: 0 0% 100% 0; /* Vollständig transparent */
		--muted-foreground: 220 16% 22%; /* nord1 - Dunkler Vordergrund */
		--popover: 222 16% 28%; /* nord2 */
		--popover-foreground: 220 16% 22%; /* nord1 - Dunkler Vordergrund */
		--card: 0 0% 100% 0; /* Vollständig transparent */
		--card-foreground: 220 16% 22%; /* nord1 - Dunkler Vordergrund */
		--border: 354 42% 56%; /* nord11 */
		--input: 220 16% 22%; /* nord1 */

		/* Primärfarbe: Nord Light Grün (Nord 14) */
		--primary: 92 28% 65%; /* nord14 */
		--primary-foreground: 220 16% 22%; /* nord1 */

		/* Sekundärfarbe: Rot (Nord 11) */
		--secondary: 354 42% 56%; /* nord11 */
		--secondary-foreground: 218 27% 94%; /* nord6 */

		--accent: 210 34% 63%; /* nord9 */
		--accent-foreground: 218 27% 94%; /* nord6 */
		--destructive: 354 42% 56%; /* nord11 */
		--destructive-foreground: 218 27% 94%; /* nord6 */
		--ring: 92 28% 65%; /* nord14 */

		/* Sidebar-Anpassungen */
		--sidebar-background: 220 16% 22%; /* nord1 */
		--sidebar-foreground: 218 27% 80%; /* nord4 */
		--sidebar-primary: 92 28% 65%; /* nord14 */
		--sidebar-primary-foreground: 218 27% 94%; /* nord6 */
		--sidebar-accent: 210 34% 63%; /* nord9 */
		--sidebar-accent-foreground: 218 27% 94%; /* nord6 */
		--sidebar-border: 224 16% 32%; /* nord3 */
		--sidebar-ring: 92 28% 65%; /* nord14 */
	}
	body {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
		margin: 20mm;
	}
}

.my-Project-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @apply gap-2;
  justify-content: center; /* Zentriert das Grid horizontal */
  align-items: center; /* Zentriert das Grid vertikal (falls nötig) */
  margin: 0.5rem auto; /* Sorgt dafür, dass das Grid in der Mitte bleibt */
}

/* Anpassungen für mobile Geräte */
@media (max-width: 1024px) {
  .my-Project-grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .my-Project-grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.my-Project-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @apply gap-2;
  justify-content: center; /* Zentriert das Grid horizontal */
  align-items: center; /* Zentriert das Grid vertikal (falls nötig) */
  margin: 0.5rem auto; /* Sorgt dafür, dass das Grid in der Mitte bleibt */
}

/* Anpassungen für Tablets */
@media (max-width: 1024px) {
  .my-Project-grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Anpassungen für Smartphones */
@media (max-width: 768px) {
  .my-Project-grid-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}