---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hallo 👋</div>
    <div class="text-5xl font-bold">Ich bin Aps, Fabian</div>
    <div class="text-3xl py-3 font-bold">Softwareentwickler und Musiker</div>
    <div class="py-2">
      <text class="text-lg">
        Ich bin ein Softwareentwickler und Musiker (DJ/Producer) und mache alles mindestens aus Spaß und als Hobby, aber ich bin hauptberuflich Softwarentwickler.
      </text>
    </div>
    <div class="text-2xl py-2 font-bold">Aktuelle Adresse:</div>
    <div class="text-lg py-1">
      Ludwig-Renn-Straße 33, 12679 Berlin, Deutschland
    </div>
  </div>
</BaseLayout>
