---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import Link from "../components/Link.astro";
import presentation from "../data/presentation";
---

<BaseLayout title="Lebenslauf" sideBarActiveItemID="lebenslauf">
  <style>
    .rating {
        unicode-bidi: bidi-override;
        text-align: center;
    }
  
    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }
  
    .rating > span:before {
        content: "\2606";
        position: absolute;
    }
  </style>
  <main>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{presentation.title}</div>
  </div>

  <div class="mb-10 text-justify">
    Ich bin ein IT-Assistent in Ausbildung.
    <br/>
    <Link
            href={`mailto:${presentation.mail}`}
            label={'E-Mail: '+ presentation.mail}
    />
    <br/>
    <Link
            href={`https://maps.apple.com/?address=Ludwig-Renn-Stra%C3%9Fe%2033,%2012679%20Berlin,%20Deutschland&ll=52.551673,13.558337`}
            label={'Adresse: Ludwig-Renn-Straße 33, 12679 Berlin, Deutschland'}
    />
    <br/>
    <Link
            href={`tel:+4917645172171`}
            label={'Telefonnummer:'+' +4917645172171'}
    />
    <br/>
    Geburtsodatum: 06.06.2003          
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Ausbildung</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ausbildung zum IT-Assistent mit Fachabitur"
      subtitle="seit 08/2021 am Oberstufenzentrum Informations- & Medizintechnick, Berlin, Deutschland"
    />
    <TimeLineElement
      title="Grundschule + Skundarstufe I mit dem Abschluss MSA(OG)"
      subtitle="08/2010 bis 06/2021 an Cal-von-Linné-Schule, Berlin, Deutschland"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Erfahrung</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Praktikant"
      subtitle="Von 11/2023 bis 02/2024 bei KfW Bankengruppe, Berlin, Deutschland"
    >
      Ansible Dokumentation, Ansible Playbook Automation, Anwendungsbetreuung
    </TimeLineElement>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Praktikant"
      subtitle="Von 02/2020 bis 02/2020 bei Akademie der Künste, Berlin, Deutschland"
    >
      Syntesizer entwiklung und Mastering
    </TimeLineElement>
    <TimeLineElement
    title="Praktikant"
    subtitle="Von 01/2019 bis 01/2019 bei Tosa Security & Service, Trebin, Deutschland"
  >
   Bürotätigkeiten
  </TimeLineElement>
    <TimeLineElement
    title="Praktikant"
    subtitle="Von 03/2018 bis 03/2018 bei Pfenigpfefer, Berlin, Deutschland"
  >
    Regale ein und aus gereumt
  </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Ehrentamtliche Tätigkeiten</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Volenteer bei Special Olympics World Games Berlin 2023"
      subtitle="Von 06/2023 bis 06/2023 bei Special Olympics Germany, Berlin, Deutschland"
    >
      Healty Athletes Program Check in/Check out System
    </TimeLineElement>
  </div>

  <!--div class="mb-5">
    <div class="text-3xl w-full font-bold">Zertifizierungen</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank">noch keine (mit Link)</a>
    </li>
    <li>
      <a href="#" target="_blank">noch keine (mit Link)</a>
    </li>
  </ul!-->


  <div class="my-5">
    <h1 class="text-3xl font-bold mb-3">Fähigkeiten</h1>
</div>
<div class="gap-4 artboard-demo">
<ul class="flex flex-wrap justify-between items-center gap-4 bg-base-100">
    <!-- Skills -->
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Java</span> 
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 80%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Swift(SwiftUI)</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 70%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Cisco IOS</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 50%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Micriosoft 365</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 90%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Visual Studio Code</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 85%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Apple Logic Pro</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 95%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Apple Xode 14+</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 75%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Apple macOS</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 88%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Apple iOS</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 80%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Apple iPadOS</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 78%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Apple xrOS</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 65%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Linux</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 60%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Windows</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 55%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Microsoft Teams</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 85%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">Eclipse</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 70%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">MySQL</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 80%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">MySQL Comunity Server</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 50%;"></div>
            </div>
        </div>
    </li>
    <li class="card w-96 bg-base-300 shadow-xl">
      <div class="card-body">
            <span class="card-title font-mono p-4">MySQLWorckbench</span>
            <div class="bg-primary-content w-full h-4 rounded-full">
                <div class="bg-primary h-full rounded-full" style="width: 60%;"></div>
            </div>
        </div>
    </li>
</ul>
</div>
</main>
</BaseLayout>



<!--div>
<div x-data="{ rating: 3 }">
<div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
</div!-->