---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projekte" sideBarActiveItemID="projekte">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Gepinnte Projekte</div>
  </div>

  <HorizontalCard
    title="Prtfolio/Impressum"
    img="/mcpeapsUnterstrichHD/social_img.png"
    desc="Diese Webseite."
    url="https://github.com/mcpeapsUnterstrichHD/mcpeapsUnterstrichHD"
    badge="NEW/FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Schul Repository"
    img="/mcpeapsUnterstrichHD/OSZimt-Logo-l.png"
    desc="Das ist Das Repository mit meinen aufgaben aus meine Ausbildung."
    url="https://github.com/comboomPunkTsucht/OSZIMT-repo-ITA12_aps"
    badge="FOSS/FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="wubias Portfolio"
    img="/mcpeapsUnterstrichHD/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW/FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">ALLe Projekte</div>
  </div>

  <HorizontalCard
  title="Prtfolio/Impressum"
  img="/mcpeapsUnterstrichHD/social_img.png"
  desc="Diese Webseite."
  url="https://github.com/mcpeapsUnterstrichHD/mcpeapsUnterstrichHD"
  badge="NEW/FOSS"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Schul Repository"
  img="/mcpeapsUnterstrichHD/OSZimt-Logo-l.png"
  desc="Das ist Das Repository mit meinen aufgaben aus meine Ausbildung."
  url="https://github.com/comboomPunkTsucht/OSZIMT-repo-ITA12_aps"
  badge="New/FOSS"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="wubias Portfolio"
  img="/mcpeapsUnterstrichHD/post_img.webp"
  desc="Das Portfolio von wubia."
  url="https://github.com/wubia-one/wubia-one"
  badge="NEW/FOSS"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="fex-projekt"
  img="/mcpeapsUnterstrichHD/post_img.webp"
  desc="Das ist eine Bilder Sammelwebseite mit text."
  url="https://github.com/comboomPunkTsucht/fex-projekt"
  badge="New/FOSS"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="Klassen Webseite"
  img="/mcpeapsUnterstrichHD/OSZimt-Logo-l.png"
  desc="Das ist die Webseite der Klassen ITA 12 in der ich ich am OSZ IMT gewesen bin."
  url="https://github.com/comboomPunkTsucht/OSZ_ITA12_Doc"
  badge="FOSS"
/>
<HorizontalCard
  title="Klassen App"
  img="/mcpeapsUnterstrichHD/Klassen_App_Icon_iOS_macOS_iPadOS.png"
  desc="Das ist die App der Klassen ITA 12 in der ich ich am OSZ IMT gewesen bin."
  url="https://github.com/comboomPunkTsucht/ITA-12_App"
  badge="FOSS"
/>
<div class="divider my-0"></div>
<HorizontalCard
  title="comboom.sucht Webseite"
  img="/mcpeapsUnterstrichHD/Logo-transparet.PNG"
  desc="Das ist die Webseite meiner Freundes Gruppe."
  url="https://github.com/comboomPunkTsucht/comboom.sucht-BLOG"
  badge="FOSS"
/>
<HorizontalCard
  title="comboom.sucht App"
  img="/mcpeapsUnterstrichHD/Logo-transparet.PNG"
  desc="Das ist die App meiner Freundes Gruppe."
  url="https://github.com/comboomPunkTsucht/comboomPunkTsucht-IOS-macOS-App"
  badge="FOSS"
/>
</BaseLayout>