@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 360 100% 28.08%;
    --input: 122.26 33.53% 82.64%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 131.32 0% 100%;
    --secondary: 0 76.22% 36.27%;
    --secondary-foreground: 240 0% 100%;
    --accent: 120 100% 89.22%;
    --accent-foreground: 240 0% 0%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --border: 0 98.26% 20.18%;
    --input: 124.53 14% 27.67%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 0 70.56% 45.29%;
    --secondary-foreground: 0 80.39% 10%;
    --accent: 120 100% 7.84%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 70.56% 45.29%;
    --destructive-foreground: 0 80.39% 10%;
    --ring: 142.4 71.8% 29.2%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
    @apply font-sans;
  }
  body {
    @apply bg-background text-foreground;
    @apply overflow-x-hidden;
    @apply overscroll-contain;
    height: 100vh;
    width: 100vw;
    height: 100dvh;
    width: 100dvw;
  }
}

.nametag {
  @apply visible;
}

@media (max-width: 600px) {
  .nametag {
    @apply hidden;
  }
}

.my-Project-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Anpassungen für mobile Geräte */
@media (max-width: 1024px) {
  .my-Project-grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .my-Project-grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.my-Project-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* Anpassungen für Tablets */
@media (max-width: 1024px) {
  .my-Project-grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Anpassungen für Smartphones */
@media (max-width: 768px) {
  .my-Project-grid-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.my-Skill-grid-4 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

@media (max-width: 1024px) {
  .my-Skill-grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .my-Skill-grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .my-Skill-grid-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.projectCard {
  @apply backdrop-blur-sm;
  @apply bg-transparent;
  @apply grid;
  @apply grid-rows-subgrid;
  grid-row: span 3;
}

.timelineelement {
  @apply p-4;
}

@media (max-width: 444px) {
  .timelineelement {
    @apply p-1;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
}

@media --webkit-print {
  .no-print {
    display: none !important;
  }
}
.show-timeline-big {
  display: block !important;
}

@media (max-width: 600px) {
  .show-timeline-big {
    display: none !important;
  }
}

.show-timeline-small {
  display: none !important;
}

@media (max-width: 600px) {
  .show-timeline-small {
    display: block !important;
  }
}
