---
// components/CookieBanner.astro
import Cookies from 'js-cookie';
---
<!-- Your cookie banner HTML goes here -->
    <!--div id="cookieBanner">
      <p>This website uses cookies. By continuing to use this site, you can customize your cookie settings.</p>
      <button onclick={Cookies.set('cookieConsent', 'true', { expires: 365 })}>Accept All</button>
      <button onclick={Cookies.remove('cookieConsent')}>Reject All</button>
    </div>--