---

import { ThemeSwitch } from "astro-color-scheme";
import '../styles/global.css';
//lg:hidden
---

<div
  class="sticky top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-all duration-100 bg-base-100 text-base-content shadow-sm"
>
  <div class="navbar">
    <div class="navbar-start">
      <div>
      <label for="my-drawer" class="lg:hidden btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"
          ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
      </div>
      <div class="px-4 py-3">
        <label>
          Theme:
          <ThemeSwitch strategy="select">
            <select class="form-select px-4 py-3 solid rounded select select-bordered select-accent select-md">
              <option value="system">System</option>
              <option value="black" selected>Black</option>
              <option value="dark">Dark</option>
              <option value="light">Light</option>
              <option value="cupcake">Cupcake</option>
              <option value="bumblebee">Bumblebee</option>
              <option value="emerald">Emerald</option>
              <option value="corporate">Corporate</option>
              <option value="synthwave">Synthwave</option>
              <option value="retro">Retro</option>
              <option value="cyberpunk">Cyberpunk</option>
              <option value="valentine">Valentine</option>
              <option value="halloween">Halloween</option>
              <option value="garden">Garden</option>
              <option value="forest">Forest</option>
              <option value="aqua">Aqua</option>
              <option value="lofi">Lofi</option>
              <option value="pastel">Pastel</option>
              <option value="fantasy">Fantasy</option>
              <option value="wireframe">Wireframe</option>
              <option value="luxury">Luxury</option>
              <option value="dracula">Dracula</option>
              <option value="cmyk">CMYK</option>
              <option value="autumn">Autumn</option>
              <option value="business">Business</option>
              <option value="acid">Acid</option>
              <option value="lemonade">Lemonade</option>
              <option value="night">Night</option>
              <option value="coffee">Coffee</option>
              <option value="winter">Winter</option>
            </select>
          </ThemeSwitch>
        </label>        
        <br/> 
      </div>
    </div>
    <div class="navbar-center">
      <a class="btn btn-ghost normal-case text-xl base-content" href="/mcpeapsUnterstrichHD">Fabian Aps</a>
    </div>
    <div class="navbar-end"></div>
  </div>
</div>
