---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">

    <li><a class="py-3 text-base" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-base" id="projekte" href="/projekte">Projekte <span class="font-bold text-base w-max w-full flex-auto items-center content-center h-max h-full">{"</>"}</span></a></li>
    <li><a class="py-3 text-base" id="lebenslauf" href="/lebenslauf">Lebenslauf</a></li>
    <li>
        <a
            class="py-3 text-base"
            href="mailto:mcpeaps_HD@outlook.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Kontaktiere mich <br/> per E-Mail</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
