---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
import presentation from "../data/presentation";
const { sideBarActiveItemID } = Astro.props;
import { Skeleton } from "../components/ui/skeleton"
import { Avatar, AvatarFallback, AvatarImage } from "../components/ui/avatar"



let isLoading = true;

function handleImageLoad() {
  isLoading = false;
}
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="px-2 pt-2 h-auto min-h-full w-[19rem] bg-base-200 text-base-content flex flex-col">
    <div class="w-fit mx-auto mt-5 mb-6">
      <a href="">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-[8.5rem]">
            <astro-if test={isLoading}>
              <Skeleton class="w-[135px] h-[135px] rounded-full" />
            </astro-if>
            <Avatar>
              <AvatarImage src="{presentation.profile}" onLoad={handleImageLoad} />
              <AvatarFallback>MAHD</AvatarFallback>
            </Avatar>
      
          </div>
        </div>
      </a>
    </div>
    <SideBarMenu class="glass" sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter class="glass" />
  </aside>
</div>
