---
---
<style>
    @import "https://www.nerdfonts.com/assets/css/webfont.css";

    html {
    --background-color: white;
    --text-color: black;
    color: var(--text-color);
    background-color: var(--background-color);
  }
  .dark {
    --background-color: black;
    --text-color: white;
  }
  /* OR */
  [data-theme="dark"] {
    --background-color: black;
    --text-color: white;
  }
  </style>
<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>
<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">

  <div>
    <a
        href="https://linktr.ee/mcpeaps_hd"
        target="_blank"
        class="mx-3"
        aria-label="Linksammlung"
        title="Linksammlung"
    >
    Linksammlung
    </a>
  </div>
</div>
