---
import BaseHead from '../components/BaseHead.astro';
import presentation from "../data/presentation";
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION, includeSidebar = true, sideBarActiveItemID } = Astro.props;

import Swup from 'swup';

import { NavigationMenubar } from '../components/NavigationMenubar.tsx';

import { Avatar, AvatarFallback, AvatarImage } from "../components/ui/avatar"


---

<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>

<!DOCTYPE html>
<html lang="de">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <link rel="sitemap" href="/sitemap-0.xml" />
    <script>import Swup from "swup";

      const swup = new Swup();
    </script>
  </head>
  <body >
    <div className="bg-black dark:bg-white" />

    <NavigationMenubar />
    
    <script type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js" charset="UTF-8"></script>
    <script type="text/javascript" charset="UTF-8">
    document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"dark","language":"de","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"Fabian Aps"});
    });
    </script>
  <main>
    <slot />
  </main>
</div>
  </body>
  <footer>
    <Footer />
  </footer>
</html>